.button-filters {
  .btn {
    font-size: 80%;
    margin: 0 1px;
    position: relative;
  }
  .badge-red {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -8px;
    border: 1px solid #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) !important;
  }
}
